{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="card card-container bg-secondary p-5 m-5 text-center">
        <h1>Hello, </h1>

        <img src="https://www.acces-sap.fr/wp-content/uploads/2020/10/logo-mail-footer.png" class="logo mx-auto">
   </div>
</div>
{% endblock %}
